<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.container2 {
   color : black;
}

h1{
text-align : center;
}


</style>
</head>
<body>
<div class="container">
  <img src="assets/Images/About.jpg"style="width:100%;">
  <div class="container2">
   <h2>OUR VISION</h2>
     <p>To help people get the products to their door step without much effort and without having to roam around wasting time and resources</p>
   <h2>OUR MISSION</h2>
    <p>To make it easy for people to access different products from different countries sitting at your own comfort</p>

    

  </div>
</div>

</body>
</html> 

